# Student Union President Selection

There are 20 students who are members of the Student Union. The Student Union Presidential
Election was held last month and students voted. The President's term is 2 Years. However, the
union doesn't know and has not announced the President yet. We'll count the total votes for
each student and find out who is the elected President.

In [59]:
# import panda library
import pandas as pd

# read csv data
students = pd.read_csv("data/Students.csv")
polls = pd.read_csv("data/Polls.csv")

# check of data pattern
print(students.info())
print('\n')
print(students.head())
print("--------------------------------------------------")
print('\n')
print(polls.info())
print(polls.head())
print("--------------------------------------------------")
print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20 non-null     int64
 1   student_name  20 non-null     object
dtypes: int64(1), object(1)
memory usage: 448.0+ bytes
None


   id     student_name
0   1      Ashley Reid
1   2  Scott Donaldson
2   3        Lisa Tate
3   4    Austin Nelson
4   5     Kurt Gregory
--------------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     20 non-null     int64
 1   vote_1,vote_2  20 non-null     object
dtypes: int64(1), object(1)
memory usage: 448.0+ bytes
None
   student_id vote_1,vote_2
0           1           1,6
1           2           2,2
2           3          3,18
3           4           4,2
4           5           5,7
--------------------------------------------------

### Data cleaning and preparation
We'll split `vote_1,vote2` column to two columns as integer type for counting.

In [62]:
# split vote_1 and vote_2 with two column
polls['vote_1'] = polls['vote_1,vote_2'].str.split(",").str[0].astype(int)
polls['vote_2'] = polls['vote_1,vote_2'].str.split(",").str[1].astype(int)

print(polls.head())

   student_id vote_1,vote_2  vote_1  vote_2
0           1           1,6       1       6
1           2           2,2       2       2
2           3          3,18       3      18
3           4           4,2       4       2
4           5           5,7       5       7

### Data transformation
We'll calculate the total count for each students

In [65]:
vote_1 = polls['vote_1'].value_counts()
vote_2 = polls['vote_2'].value_counts()
total_vote = vote_1.add(vote_2, fill_value=0).astype(int)
total_vote.head()

1    2
2    3
3    1
4    3
5    1
dtype: int64

We'll combine for above vote calculation result and student

In [66]:
students['vote'] = total_vote.values
students.sort_values(by='vote', ascending=False)

    id        student_name  vote
19  20        Keith Becker     4
5    6     Kimberly Guzman     3
17  18        Sheri Franco     3
1    2     Scott Donaldson     3
6    7     Michael Charles     3
10  11          Marc Evans     3
3    4       Austin Nelson     3
7    8      Matthew Turner     2
11  12         Ivan Cannon     2
14  15  Samantha Blackwell     2
18  19      Kimberly Jones     2
0    1         Ashley Reid     2
4    5        Kurt Gregory     1
8    9        Leslie Weiss     1
9   10           Jose Mata     1
12  13     Robert Buchanan     1
13  14        Cameron King     1
15  16        David Hudson     1
16  17   Curtis Williamson     1
2    3           Lisa Tate     1

Besed on the result, the president of student union selection is ***Keith Becker*** with four votes.